# Byte-compiled / optimized / DLL files
__pycache__/

# Distribution / packaging
dist/
_version.py
*.egg-info/
*.egg
/artifacts/

# IDE
.vs/
.vscode/
**/.bonsai/*
!**/.bonsai/Bonsai.config
!**/.bonsai/NuGet.config

.coverage
