# Byte-compiled / optimized / DLL files
__pycache__/

# Distribution / packaging
dist/
_version.py
*.egg-info/
*.egg
/artifacts/
**/.bonsai/Packages/
**/.bonsai/*.exe
**/.bonsai/*.settings
**/.bonsai/Settings/

# IDE
.vs/
.vscode/
.coverage
