# Byte-compiled / optimized / DLL files
__pycache__/

# Distribution / packaging
dist/
_version.py
*.egg-info/
*.egg
/artifacts/
/.bonsai/

# IDE
.vs/
.vscode/

.coverage

docs/tutorials/reaction-time/project/temp_data/
