# Import core types
from typing import Literal
from pydantic import Field

from swc.aeon.io import reader
from swc.aeon.schema import BaseSchema, data_reader

from {{ python_folder_name }} import __semver__

# TODO - should inherit from some TaskParameters base class rather than BaseSchema
class {{ python_class_prefix }}TaskParameters(BaseSchema):
    ...


class {{ python_class_prefix }}TaskLogic(BaseSchema):
    version: Literal[__semver__] = __semver__
    name: Literal["{{ python_class_prefix }}"] = Field(default="{{ python_class_prefix }}", description="Name of the task logic", frozen=True)
    task_parameters: {{ python_class_prefix }}TaskParameters = Field(description="Parameters of the task logic")
    ...