from typing import Literal
from pydantic import Field

from ucl_open.core.task import Task, TaskParameters

class {{ python_class_prefix }}TaskParameters(TaskParameters):
    ...


class {{ python_class_prefix }}TaskLogic(Task):
    ...