# Import core types
from typing import Literal

from swc.aeon.io import reader
from swc.aeon.schema import BaseSchema, data_reader

from {{ python_folder_name }} import __semver__


class {{ python_class_prefix }}Rig(BaseSchema):
    version: Literal[__semver__] = __semver__
    ...